
<div *ngIf="product.title" class="card" style="width: 15rem;">
    <img class="card-img-top" [src]="product.imageUrl" alt="{{product.title}}" *ngIf="product.imageUrl">
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text">{{product.price|currency:"INR":true}}</p>
    <div *ngIf="showOptions && shoppingCart" class="card-footer">
      <button  
      *ngIf="shoppingCart.getQuantity(product) === 0;else updatequantity"
      (click)="addToCart()" class="btn btn-secondary btn-block">Add to cart</button>
      <ng-template #updatequantity>
     <app-product-quantity [shopping-cart]="shoppingCart" [product]="product">
       
     </app-product-quantity>
      </ng-template>
      </div>
      </div>
    </div>
 
